.message-box-container {
    position: fixed;
    background-color: white;

    min-width: 240px;
    box-shadow: 5px 5px 3px hsl(0, 0%, 70%);

    padding: 8px;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    p {
        margin: 0;
    }
}

.info-message-box {
    border-left: 4px solid hsl(220, 100%, 60%);

    background-color: hsl(220, 100%, 95%);
}

.left-align-x-message-box {
    left: 10%;
}

.top-align-y-message-box {
    top: 10%;
}

.center-align-y-message-box {
    top: 50%;
    transform: translateY(-50%);
}

.center-align-x-message-box {
    left: 50%;
    transform: translateX(-50%);
}

.right-align-x-message-box {
    right: 20px
}

.bottom-align-y-message-box {
    bottom: 20px;
}