@use "../global/mixins" as *;

.challenge-notification-modal-container {
	@include page-center-xy;
	@include flex-column-x-center;

	background-color: white;
	z-index: 1000;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 24px;
	padding-right: 24px;

	border-radius: 8px;
}

.challenge-notification-modal-title {
	margin-top: 0;
	margin-bottom: 0;
}

.challenger-info-container {
	@include flex-row-y-center;
}

.main-challenge-info {
	@include flex-column;

    margin-top: 12px;
    margin-bottom: 12px;
}

.challenger-profile-picture {
	width: 76px;
	height: 76px;

    margin-right: 12px;

	background-color: hsl(0, 0%, 60%);
	border-radius: 50%;
}

.challenger-relationship {
    margin-top: 0;
    margin-bottom: 0;

    color: hsl(0, 0%, 30%);
}

.challenger-username {
    margin-top: 4px;
    margin-bottom: 4px;

    font-size: 2rem;
    font-weight: 500;
}

.challenge-time-control {
    margin-top: 0;
    margin-bottom: 0;

    color: hsl(0, 0%, 30%);
}

.challenge-handling-buttons-container {
	@include flex-row;
}

.decline-challenge-button {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;

	margin-right: 12px;
	
	border: none;
	border-radius: 4px;

	background-color: hsl(0, 100%, 45%);
	color: white;
}

.accept-challenge-button {
	@extend .decline-challenge-button;
	background-color: hsl(125, 100%, 40%);
	margin-right: 0;
}