@use "../global/mixins.scss";
@use "../global/variables.scss";

.game-over-modal-container {
	@include parent-element-center-xy;
	
	@include flex-column;
	align-items: center;

	background-color: white;

	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;

	border-radius: 4px;

	box-shadow: 5px 5px 10px hsl(0, 0%, 75%);
}

.game-result {
	margin-top: 8px;
	margin-bottom: 4px;
}

.game-end-cause {
	margin-top: 4px;
	font-size: 1.1rem;
}

.buttons-container {
	@include flex-row;
	justify-content: center;
}

.buttons-container button {
	margin-right: 8px;

	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;

	background-color: variables.$accent-color;
	border: none;

	color: white;
	font-size: variables.$button-font-size;
}