@use "../../global/mixins.scss" as *;

.move-list-panel-container {
	@include flex-column;

	margin-left: 20px;
	margin-bottom: 16px;

	height: 300px;
	width: 250px;
	padding-top: 16px;
	padding-left: 12px;

	box-shadow: 3px 3px 5px hsl(0, 0%, 70%);

	overflow-x: hidden;
	overflow-y: auto;

	background-color: white;
}

.move-info-container {
	display: grid;
	grid-template-columns: 40px 200px;
}

.move-number {
	color: hsl(0, 0%, 40%);
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 4px;
}

.move-pair-container {
	display: grid;
	grid-template-columns: 100px 100px;
}

.move-pair-container p {
	margin-top: 4px;
	margin-bottom: 4px;
}