@use "../../global/mixins.scss" as *;

.move-list-panel-container {
	@include flex-column;

	height: 450px;
	width: 250px;
	padding-top: 16px;
	padding-left: 20px;

	border-radius: 8px;
}

.move-info-container {
	display: grid;
	grid-template-columns: 40px 200px;
}

.move-number {
	color: hsl(0, 0, 40%);
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 4px;
}

.move-pair-container {
	display: grid;
	grid-template-columns: 100px 100px;
}

.move-pair-container p {
	margin-top: 4px;
	margin-bottom: 4px;
}