.multiplayer-playing-interface-container {
	position: fixed;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);

	display: flex;
	flex-direction: row;
}

.main-chessboard {
	flex-direction: column;
}

.chessboard-info {
	display: flex;
	flex-direction: row;
	justify-content: right;
}