@use "../../../app/styles/mixins" as *;

.game-history-interface-container {
	margin-left: 64px;
	@include flex-column;
}

.game-history-page-header {
	margin-top: 16px;
	margin-bottom: 12px;
}

.game-history-table {
	@include flex-column;
	background-color: hsl(0, 0%, 90%);

	width: 800px;
}

.game-history-table-header {
	display: grid;
	grid-template-columns: 200px 50px;
	background-color: hsl(0, 0%, 80%);

	padding-top: 12px;
	padding-bottom: 12px;

	p {
		margin-top: 0;
		margin-bottom: 0;
	}

	.players-header {
		margin-left: 12px;
	}

	.result-header {
		margin-left: 12px;
	}
}
