.dashboard-suggestions-container {
    display: flex;
    flex: 1;
}

.dashboard-suggestion-container {
    margin-top: 8px;
    margin-right: 12px;

    @include flex-column-x-center;

    width: 224px;

    box-shadow: 5px 5px 5px hsl(0, 0%, 80%);
    border-radius: 8px;
}

.dashboard-suggestion-container:hover {
    cursor: pointer;
}

.dashboard-suggestion-icon-container {
    width: 100%;
    background-color: hsl(0, 0%, 80%);

    @include flex-row-x-center;

    padding-top: 8px;
    padding-bottom: 8px;

    border-radius: 8px;
}

.dashboard-suggestion-name {
    margin-top: 8px;
    margin-bottom: 8px;
}

.dashboard-suggestion-description {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 12px;
}