@use "./global/mixins.scss" as *;
@use "./global/variables.scss";

.auth-form-container {
	@include flex-column;
	position: fixed;

	align-items: center;

	top: 40%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.email-input, .password-input, .username-input {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 6px;
	padding-right: 15px;

	margin-bottom: 12px;

	width: 250px
}

.password-input {
	margin-bottom: 4px;
}

.show-password-container p {
	margin-top: 4px;
}

.form-subtitle {
	margin-top: 0;
	margin-bottom: 8px;
}

.form-subtitle a {
	color: hsl(200, 100%, 50%);
	text-decoration: underline;
}

.auth-form-submit {
	width: 275px;

	padding-top: 10px;
	padding-bottom: 10px;

	background-color: variables.$accent-color;
	color: white;

	border-radius: 4px;
	border: none;
}

.show-password-container p {
	display: inline-block;
}