.auth-form-container {
	display: flex;
	flex-direction: column;

	align-items: center;
}

.email-input, .password-input, .username-input {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 6px;
	padding-right: 15px;

	margin-bottom: 12px;

	width: 250px
}

.password-input {
	margin-bottom: 4px;
}

.show-password-container p {
	margin-top: 4px;
}

.auth-form-submit {
	width: 275px;

	padding-top: 10px;
	padding-bottom: 10px;

	background-color: var(--accent-color);
	color: white;

	border-radius: 4px;
	border: none;
}

.show-password-container p {
	display: inline-block;
}