.chessboard-container {
	display: grid;
	grid-template-columns: repeat(8, 70px);
}

.piece-image {
	width: 90%;
	height: 90%;
}

.chessboard-square {
	height: 70px;
}

.light {
	background-color: var(--light-square-color);
}

.dark {
	background-color: var(--dark-square-color);
}

