:root {
	--default-font: "Segoe UI";
	--accent-color: hsl(30, 100%, 45%);

	--input-font-size: 1rem;
	--button-font-size: 1rem;

	--light-square-color: hsl(32, 100%, 87%);
	--dark-square-color: hsl(32, 100%, 32%);
}

body {
	font-family: var(--default-font);
}

input, button {
	font-family: var(--default-font);
	
}

input {
	font-size: var(--input-font-size);
}

button {
	font-size: var(--button-font-size);
}

a {
	text-decoration: none;
	color: inherit
}

a:hover, button:hover {
	cursor: pointer;
}