@use "./global/mixins.scss" as *;

.navigation-dropdown-container {
	@include flex-column;
	position: absolute;
	top: 30px;

	box-shadow: 5px 5px 15px hsl(0, 0%, 60%);

	border-radius: 6px;
}

.navigation-dropdown-link {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;

	color: hsl(0, 0%, 40%);

	width: 150px;
}

.navigation-dropdown-link:hover {
	background-color: hsl(200, 100%, 50%);
	color: white;

	border-radius: 6px;
}