.chessboard-square {
	height: 50px;
}

.piece-image {
	width: 100%;
	height: 100%;

	background: none;
}

.light {
	background-color: var(--light-square-color);
}

.dark {
	background-color: var(--dark-square-color);
}

.legal-square {
	background-color: hsl(215, 100%, 50%);
	opacity: 0.75;
}
