.unauthenticated-navbar-container {
	@include flex-row;
	align-items: center;

	padding-top: 16px;
	padding-bottom: 16px;

	position: sticky;
	top: 0%;

	background-color: hsl(0, 0%, 95%);

	z-index: 1000;
}

.site-links a, .authentication-links a {
	margin-left: 20px;
}

.signup-button {
	background-color: $accent-color;
	color: white;

	padding: 10px 15px;
	border-radius: 4px;
}

.login-button {
	padding: 8px 15px;

	background: none;
	border: 2px solid variables.$accent-color;
}

.authentication-links {
	position: absolute;
	right: 10%
}