@use "../../../global/mixins" as *;
@use "../../../global/variables" as *;

.dashboard-navbar-parent-link-container {
    @include flex-row-y-center;
}

.dashboard-navbar-parent-link-name {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}