@use "../../../../app/styles/mixins" as *;

.chessboard-wrapper {
	display: flex;
	flex-direction: row;
}

.playing-interface-container {
	@include page-center-xy;

	@include flex-row;
	justify-content: center;
}

.main-chessboard {
	@include flex-column;
	justify-content: center;
}
