@use "../../global/variables";

.chessboard-square, .previous-dropped-square, .previous-dragged-square {
	height: 55px;
	position: relative;
}

.piece-image {
	width: 100%;
	height: 100%;

	background: none;
}

.piece-image:hover {
	cursor: pointer;
}

.light {
	background-color: variables.$light-square-color;
}

.dark {
	background-color: variables.$dark-square-color;
	border: none;
}

.previous-dragged-square {
	background-color: variables.$last-dragged-square-color;
	border: none;
}

.previous-dropped-square {
	background-color: variables.$last-dropped-square-color;
	border: none;
}

.legal-square {
	background-color: hsl(215, 100%, 50%);
	opacity: 0.75;
}

.highlighted-square-light {
	background-color: hsl(342, 100%, 50%);
}

.highlighted-square-dark {
	background-color: hsl(342, 100%, 40%);
}
