@use "../../global/variables";
@use "../../global/mixins" as *;

.chessboard-square, .previous-dropped-square, .previous-dragged-square {
	height: 55px;
	position: relative;
}

.piece-image {
	background: none;
}

.piece-image:hover {
	cursor: pointer;
}

.light {
	background-color: variables.$light-square-color;
}

.dark {
	background-color: variables.$dark-square-color;
	border: none;
}

.previous-dragged-square {
	background-color: variables.$last-dragged-square-color;
	border: none;
}

.previous-dropped-square {
	background-color: variables.$last-dropped-square-color;
	border: none;
}

.legal-square {
	background-color: hsl(215, 100%, 50%);
	opacity: 0.75;
}

.highlighted-square-light {
	background-color: hsl(342, 100%, 50%);
}

.highlighted-square-dark {
	background-color: hsl(342, 100%, 40%);
}

.rank-coordinate {
	position: absolute;
	top: 4px;
	left: 4px;

	margin: 0;

	font-size: 0.6rem;
}

.file-coordinate {
	position: absolute;
	bottom: 4px;
	right: 4px;

	margin: 0;

	font-size: 0.6rem;
}