@mixin flex-row() {
	display: flex;
	flex-direction: row;
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
}

@mixin flex-column-x-center() {
	@include flex-column;
	align-items: center;
}

@mixin flex-column-y-center() {
	@include flex-column;
	justify-content: center;
}

@mixin flex-row-x-center() {
	@include flex-row;
	justify-content: center;
}

@mixin flex-row-y-center() {
	@include flex-row;
	align-items: center;
}

