@use "../../../../app/styles/mixins" as *;

.main-link-container {
    @include flex-row;

    width: 32px;
    height: 36px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-right: 4px;

    border-radius: 4px;
}

.main-link-container:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 75%);
}
