@use "../../../app/styles/mixins" as *;

.account-options-container {
    @include flex-column;
    background-color: hsl(0, 0%, 100%);

    box-shadow: 4px 4px 4px hsl(0, 0%, 40%);

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;

    border-radius: 4px;

    p {
        margin: 0;
    }
}

.logout-container {
    @include flex-row-y-center;
}