@use "../../../app/styles/mixins" as *;

.account-info-container {
    @include flex-column-x-center;
    margin-bottom: 12px;
}

.profile-picture {
    margin-top: 10px;

    background-color: hsl(0, 0%, 85%);
    border-radius: 16px;

    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

