.dashboard-navbar-container {
    @include flex-row;

    position: absolute;
    top: 0;
    bottom: 0;

    z-index: 9999;
}

.main-navbar-content {
    @include flex-column-x-center;
    background-color: hsl(0, 0%, 95%);

    padding-left: 8px;
    padding-right: 8px;

    width: max-content;
}

.main-navbar-content.expanded {
    @include flex-column;
    align-items: flex-start;

    width: 212px;
}