@use "../../../global/mixins" as *;
@use "../../../global/variables" as *;

.dashboard-navbar-sublink-container {
    @include flex-row-y-center;
    margin-bottom: 4px;
    margin-left: 12px;
}

.dashboard-navbar-sublink-name {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}