@use "../../../../../app/styles/mixins" as *;

.gameplay-action-buttons-container {
	@include flex-column;
	justify-content: space-between;

	position: relative;
}

.gameplay-action-buttons-header {
	margin-top: 0;
	margin-bottom: 4px;

	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;

	background-color: hsl(0, 0%, 85%);
}

.gameplay-action-buttons {
	@include flex-row;

	.resignation-container,
	.draw-offer-container {
		@include flex-row-y-center;
		margin-left: 4px;
		padding-right: 4px;

		.helper-text {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 4px;
		}
	}

	.resignation-container:hover,
	.draw-offer-container:hover {
		cursor: pointer;
		background-color: darken(
			$color: hsl(0, 0%, 85%),
			$amount: 10%
		);
	}
}
