.move-list-panel-container {
	@include flex-column;

	height: 230px;
	padding-top: 16px;

	overflow-x: hidden;
	overflow-y: auto;
}

.move-list-header {
	margin-top: -20px;
	margin-bottom: 0;

	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 8px;

	background-color: hsl(0, 0%, 85%);
}

.move-info-container {
	display: grid;
	grid-template-columns: 60px 200px;
}

.move-number {
	color: black;
	font-weight: bold;
	text-align: right;

	padding-left: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 8px;

	margin-top: 0;
	margin-bottom: 0;

	background-color: hsl(0, 0%, 90%);
}

.notated-move:hover {
	cursor: pointer;
}

.move-pair-container {
	display: grid;
	grid-template-columns: 100px 100px;

	margin-left: 20px;
}

.move-pair-container p {
	padding-top: 4px;
	padding-bottom: 0;

	margin-top: 0;
	margin-bottom: 0;
}

.game-result-code {
	margin-left: 12px;
	margin-top: 8px;

	font-size: 0.9rem;
}