@use "../global/mixins.scss" as *;

.multiplayer-playing-interface-container {
	@include flex-row-x-center;
	@include page-center-xy;
}

.main-chessboard {
	flex-direction: column;
}

.chessboard-info {
	@include flex-row;
	justify-content: right;
}

.gameplay-side-panel {
	@include flex-column;
	margin-top: 40px;
	margin-left: 12px;
	height: 450px;
	width: 250px;

	background-color: white;
	box-shadow: 5px 5px 5px hsl(0, 0, 75%);
}