@use "../global/mixins.scss";

.multiplayer-playing-interface-container {
	position: fixed;
	left: 10%;
	@include page-center-y;

	@include flex-row;
}

.main-chessboard {
	flex-direction: column;
}

.chessboard-info {
	@include flex-row;
	justify-content: right;
}