@use "../../global/mixins" as *;
@use "../../global/variables";

.dashboard-navbar-container {
    @include flex-column;

    position: fixed;
    top: 0;
    bottom: 0;

    padding-top: 16px;
    padding-left: 12px;
    padding-right: 12px;

    background-color: hsl(0, 0%, 96%);
    z-index: 1000;
}

.dashboard-navbar-account-links-container {
    @include flex-row;
    align-items: center;

    position: absolute;
    bottom: 16px;
}

.dashboard-navbar-account-options {
    position: absolute;
    bottom: 0px;
    left: 100%;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    
    background-color: white;
    box-shadow: 3px 3px 3px hsl(0, 0%, 75%);
    border-radius: 4px;
}

.logout-option-container {
    @include flex-row-y-center;
}

.logout-icon {
    margin-right: 4px;
}

.logout-text {
    margin: 0;
    color: hsl(0, 100%, 70%);
}