@use "variables";
@use "mixins" as *;

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: variables.$default-font, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 95%);
}

input,
button {
    font-family: variables.$default-font, sans-serif;
}

input {
    font-size: variables.$input-font-size;
}

button {
    font-size: variables.$button-font-size;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
button:hover {
    cursor: pointer;
}

ul {
    padding-left: 20px;
    padding-right: 0;
}
