body {
	font-family: var(--default-font);
	margin: 0;
}

input, button {
	font-family: var(--default-font);
}

input {
	font-size: var(--input-font-size);
}

button {
	font-size: var(--button-font-size);
}

a {
	text-decoration: none;
	color: inherit
}

a:hover, button:hover {
	cursor: pointer;
}