@use "../../../../app/styles/mixins" as *;

.bot-card-container {
    @include flex-column-x-center;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;

    border-radius: 8px;
}

.bot-image-container {
    width: 60px;
    height: 60px;
    background-color: hsl(0, 0%, 80%);
    border-radius: 8px;
}

.bot-name {
    font-size: 0.9rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.bot-card-container:hover {
    cursor: pointer;
    border: 2px solid black;
}