.loading-spinner {
    width: 40px;
    height: 40px;

    border-top: 8px solid hsl(0, 0%, 0%);

    border-left: 8px solid hsl(0, 0%, 70%);
    border-right: 8px solid hsl(0, 0%, 70%);
    border-bottom: 8px solid hsl(0, 0%, 70%);

    border-radius: 50%;

    animation: spin 2s linear infinite
}

@keyframes spin {
    0% { transform: rotate(0deg); };
    100% { transform: rotate(360deg); }
}