.completed-game-info-container {
    display: grid;
    grid-template-columns: 200px 50px;

    padding-top: 12px;
    padding-bottom: 12px;
}

.players-container {
    margin-left: 12px;

    p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.result-container {
    margin-left: 12px;
}